.DS_Store

unity3_preps.py
prepare_platforms
for_deploy_pack

soomla-native/projects/unity-android-store/.idea/artifacts
soomla-native/projects/unity-android-store/.idea/workspace.xml
soomla-native/projects/unity-android-store/local.properties
soomla-native/projects/unity-android-store/out

soomla-native/projects/unity-ios-store/build

create_deploys
create_unity.log

# Xcode
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
*.xcworkspace
!default.xcworkspace
xcuserdata
profile
*.moved-aside
DerivedData
# Pods - for those of you who use CocoaPods
Pods
