[submodule "submodules/unity3d-store"]
	path = submodules/unity3d-store
	url = https://github.com/soomla/unity3d-store.git
[submodule "submodules/android-profile"]
	path = submodules/android-profile
	url = https://github.com/soomla/android-profile
[submodule "submodules/ios-profile"]
	path = submodules/ios-profile
	url = https://github.com/soomla/ios-profile
[submodule "submodules/soomla-unity3d-core"]
	path = submodules/soomla-unity3d-core
	url = git@github.com:soomla/soomla-unity3d-core.git
